# Slurm 23.11 on Ubuntu 24.04 with unified cgroup v2.
CgroupPlugin=cgroup/v2
EnableControllers=yes
ConstrainCores=yes
ConstrainRAMSpace=yes
ConstrainSwapSpace=yes
AllowedRAMSpace=100
AllowedSwapSpace=0
